html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}
a:link, a:visited {
    text-decoration:none;
}
ul {
  list-style: none;
}
*{
    box-sizing:border-box;
}

html, body {
    height:100%;
    width:100%;
}

body {
    font-family:'Roboto', sans-serif;
    padding-top: 37px;
}

a {
    color: #ED3300;
}

header {
  background: #000;
}
header > img {
    max-height: 50px;
    width: auto;
    position: relative;
    top: 4px;
    left: 4px;
}
header h1 {
    font-size:26px;
    font-weight:900;
    font-style:italic;
    height:42px;
    padding:4px 0px 0px 12px;
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
}

nav {
    position:fixed;
    top: 0;
    color: #000;
    width:100%;
    overflow:hidden;
    font-size:14px;
    letter-spacing:2px;
    z-index:999;
    background: #fff;
    border-bottom: 1px solid #efefef;
}

nav ul {
    width:70%;
    float:right;
    overflow:auto;
}

nav ul li{
    width:50%;
    display:block;
    float:left;
    text-align:center;
}

nav ul li a {
    display:block;
    padding:12px 0;
    width:100%;
    font-weight:bold;
    font-style:italic;
}

section {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto 55px;
  overflow: hidden;
}
section:last-of-type {
    margin-bottom: 10px;
}
section h2 {
    margin-left: 14px;
    font-size:42px;
    font-weight:900;
    font-style: italic;
    letter-spacing:9px;
    line-height:38px;
}
section#myself {
  padding: 14px;
}
section#myself h2 {
  margin-left: 0;
}

section#myself p {
  margin-bottom: 10px;
}

section h3 {
    font-size:20px;
}

section article {
    display:block;
    font-size:16px;
    text-align:left;
    margin:12px 12px 0px;
}

section article .tile {
    position: relative;
    width: 100%;
}

section article .tile a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  color: white;
  font-size: 40px;
  font-weight:700;
  padding: 36% 5% 0;
  font-style:italic;
  text-align: center;
  width: 100%;
  height: 100%;
  text-shadow: 4px 4px 4px #2e2e2e;
}
section article .tile:hover img{
    opacity:0.7; 
}

section article img {
    display:block;
    width:100%;
}

section article p {
    text-align:left;
    font-size:16px;
    line-height:26px;
    padding:4px;
    vertical-align:middle;
}

section#myself img {
    margin-top:42px;
}

.gallery {
    display: none;
}

.contact {
    font-size:16px;
    font-weight:600;
}

footer {
    padding: 10px;
}

@media screen and (min-width: 481px) {
    section article {
        margin: 0;
        width: 50%;
        float: left;
    }
    section h2 {
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 768px) {
    header h1 {
        font-size:26px;
    }
    header > img {
      max-height: 70px;
      left: 10px;
    }
    nav {
        font-size:16px;
    }
    nav ul {
      width: 50%;
    }
    section article {
        width: 33.33%;
   }
}
